{% load compress %}
{% load staticfiles %}

{% compress js %}

<!-- jQuery -->
<script type="text/javascript" src="static/javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="static/javascripts/bootstrap.min.js"></script>



<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<!-- CryptoJS -->
<script type="text/javascript" src="{% static 'bower_components/angularjs-crypto/public/js/lib/plugins/CryptoJSCipher.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angularjs-crypto/public/js/lib/angularjs-crypto.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/CryptoJS/components/core.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/CryptoJS/components/core-min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/CryptoJS/components/pbkdf2.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/CryptoJS/components/pbkdf2-min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/CryptoJS/rollups/pbkdf2.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/CryptoJS/components/enc-base64.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/CryptoJS/components/enc-base64-min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>



<script type="text/javascript" src="{% static 'javascripts/webstore.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/webstore.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/webstore.routes.js' %}"></script>

<!-- Authentication Controllers -->
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/header.controller.js' %}"></script>

<!-- WebSite Controllers -->
<script type="text/javascript" src="{% static 'javascripts/website/website.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/website/services/website.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/website/controllers/website.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/website/controllers/bookInfo.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/website/controllers/myBooks.controller.js' %}"></script>


{% endcompress %}