    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Welcome to Ebook Webstore!</h1>
        <p>Buy your favorite books in our webstore!!</p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>All Books</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center" >

        <div class="col-md-3 col-sm-6 hero-feature"  ng-repeat="(key, value) in vm.books" >
            <div class="thumbnail" >
                <div class="caption" style="min-height: 150px">
                    <h4>{{value.name}}</h4>
                    <p>{{value.author}}</p>

                </div>
                <p>
                    <a href="#" class="btn btn-primary" disabled>Buy Now!</a> <a href="/{{value.identifier}}/" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>

    </div>
    <!-- /.row -->